# Ignore templates, figures, etc.
.DS_Store
tex/.DS_Store
tex/bib_JB.bib
tex/pasj02.cls
tex/pasjbib.bst
analysis/fig/
plot/

# Cover letter is secret.
cover_letter_3I.pages
reply_3I.pages

# Submitted manuscript etc. are also secret.
20250723_submit1
20250808_submit2
